Package: com.collab.livepaper
Conflicts: com.thezimm.livepaper.MosaicPaper, com.thezimm.livepaper.MapPaper
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Version: 0.1.2
Description: Live wallpaper with plugins
Name: LivePaper
Depends: firmware (>= 4.0), mobilesubstrate, preferenceloader
Author: rpetrich, zimm, infectionfx, conradev
